#sidebar-box {
  background-color: transparent !important;
}

:root {
  --af-minimal-opacity: 1;
  @media (-moz-bool-pref: "af.edgyarc.macos-translucent") {
    --af-minimal-opacity: 0.53;
  }
  @media (-moz-bool-pref: "af.edgyarc.macos-more-translucent") {
    --af-minimal-opacity: 0.45;
  }
}

:root[titlepreface="᠎"] {
  #sidebar-box {
    &:hover::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      pointer-events: none;
      background-color: var(--lwt-accent-color) !important;
      opacity: var(--af-minimal-opacity) !important;
    }
  }
}

body::before,
/* We don't need a pseudo element here for coloring (it's done on the element itself), but it's needed for noise texture */
:root[inFullscreen] #navigator-toolbox[style*="transform"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background-color: var(--lwt-accent-color) !important;
  opacity: var(--af-minimal-opacity) !important;
}

/* Fixes transparent toolbar in fullscreen on macos */
/* Only apply solid background when toolbox moves over the content */
:root[inFullscreen] #navigator-toolbox[style*="transform"] {
  background-color: var(--lwt-accent-color) !important;
}
