:root {
  --lwt-additional-images: url("noise-dark.svg") !important;
  --lwt-background-tiling: repeat
}
@media (prefers-color-scheme: dark) {
  :root {
    --lwt-additional-images: url("noise-light.svg") !important;
  }
}

#navigator-toolbox {
  background-image: none !important;
}

#main-window > body,
:root[inFullscreen] #navigator-toolbox[style*="transform"] {
  background-image: var(--lwt-additional-images) !important;
}
