#main-window > body::before,
:root[inFullscreen] #navigator-toolbox[style*="transform"]::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("noise-dark.png");
  background-size: 110px;

  opacity: 0.53;
}
@media (prefers-color-scheme: dark) {
  #main-window > body::before,
  :root[inFullscreen] #navigator-toolbox[style*="transform"]::before {
    background-image: url("noise-light.png");
  }
}
