/* Translucency support for Sidebery */
@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar.html")
{
  :root {
    --af-minimal-opacity: 100%;
    @media (-moz-bool-pref: "af.edgyarc.macos-translucent") {
      --af-minimal-opacity: 53% !important;
    }
    @media (-moz-bool-pref: "af.edgyarc.macos-more-translucent") {
      --af-minimal-opacity: 45% !important;
    }
  }
  #root {
    background-color: color-mix(
      in srgb,
      var(--frame-bg) var(--af-minimal-opacity),
      transparent
    ) !important;
  }
  :root,
  .TabsPanel .bottom-space,
  .TabsPanel .new-tab-btns,
  .TabsPanel .new-tab-btns::after,
  .BookmarkNode > .body {
    background-color: transparent !important;
  }
}
