/* Translucency support for Sidebery */
@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar.html")
{
  #root {
    --toolbar-bg: transparent !important;
    --frame-bg: transparent !important;
  }

  :root {
    background-color: transparent !important;
  }
}
